#cal-app {
    display: flex;
    justify-content: center;

}


.main-page {
    color: aliceblue;

    height: 90.5vh;
    width: 99.2vw;
    margin-top: 10px;
    font-family: "Inter";
    display: grid;
    grid-template-columns: 1fr ;


    
}

@media (min-width: 730px) {
    .main-page{
        grid-template-columns: 1fr 4fr;
    }
}



.calender-page {
    
    font-family: inherit;
    display: flex;
    
    
    padding: 20px;

    flex-direction: column;
    background-color: #B8DBD9;
    color: #292929;


    /* border:solid; */
    border-width: 5px;
    border-color: #4d43ff;

  
}

.cal-page-paper {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.events-page {
    
    height: 90.5vh;

    background-color: #2f4550;
    

   
}

.calender-container {
    
    flex: 0 2 35%;
    padding: 20px;

    /* border:solid; */
    border-width: 5px;
    border-color: #ff4343;
}

.calender-header {
    text-align: center;
    display: flex;
    justify-content: space-between;
}
.calender-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    column-gap: 3px;
    row-gap: 0px;
    
    
}

.week-days {
    text-align: center;
    font-weight: 600;
    margin-bottom: 5px;
}

.surround {
    text-align: center !important;
    color: #0000005d !important;
}

.selected {
    text-align: center !important;
    color: #F9F8F8;
    background-color: #292929 !important;
    font-weight: 600;
}

.today {
    color: rgb(239 68 68);
    font-weight: 700;
}

.sel-today {
    text-align: center !important;
    color: #F9F8F8;
    background-color: rgb(239 68 68)!important;
    font-weight: 700;
}

.month-days{
    text-align: center;
    border-radius: 9999px;
    width: 40px;
    aspect-ratio : 1 / 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 7px;

}

.month-days:hover {
    background-color: #EBEBEB;
    
}

.event-day {
    border-radius: 9999px;
    background-color: #4d43ff;
    width:  4px;
    height: 4px;
    aspect-ratio: 1/1;
}

.wrapper-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.day-events-container {

    flex: 1;
    display: flex;
    flex-direction: column;


    /* border:solid; */
    border-width: 5px;
    border-color: #ff43c7;
}

.day-events{

    flex:1;
    display: flex;
    padding: 20px;

    /* border:solid; */
    border-width: 5px;
    border-color: #43f9ff;
}
.day-events .on-paper {

    



    /* border:solid; */
    border-width: 3px;
    border-color: #43ff72;
}

.day-events .header{
    padding: 20px;
}


.day-events .list{

    

    /* border:solid; */
    border-width: 5px;
    border-color: #e3ff43;
}

.day-events .list .event{
    display: flex;
    flex: none;
    margin-inline: 20px;
    border-radius: 20px;

    align-items: center;

}
.day-events .list .event:hover{
    background-color: #EBEBEB;

}

.day-events .list .event .img{
    width: 50px;
    border-radius: 9999px;
    padding: 10px;
}

.day-events .list .event .details {
    flex: auto;
    padding-inline: 10px;
    font-size: 0.9em;
}

.day-events .list .event .details .name{
    font-weight: 600;
    margin: 5px;
}

.day-events .list .event .details .time{
    color: #29292996;
    margin: 5px;
}


.events-page {

    display: flex;
    flex: none;

    border:solid;
    border-color: #ff4343;
}

@media (max-width: 1100px) {
    .events-page{
        /* flex-direction: column;
        height: ; */

    }



}




.all-days {

    /* flex: 1; */
    padding: 20px;
    display: flex;
    flex-direction: column;
    max-width: 582px;
    

    border:solid;
    border-color: #e3ff43;
}

.all-events {

    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;

    border:solid;
    border-color: #6643ff;
}

@media (min-width: 1300px) {
    .all-events{
        flex: 1;
    }
}

.on-days-paper {

    flex: 1;
    
    display: flex;
    flex-direction: column;
    

    border:solid;
    border-color: #43ff43;
}

.on-events-paper {

    flex: 1;

    display: flex;
    flex-direction: column;

    border:solid;
    border-color: #ff43ef;
}

.all-days-list {

    flex: 1;

    

    display: flex;
    flex-direction: column;

    border:solid;
    border-color: #ff43ef;
}

.day{

    margin-block: 2px;
    font-size: xx-large;
    border-radius: 5px;
    padding-inline: 5px;
    
    /* border:solid; */
    border-color: #78ff43;

}



.upto-today {
    background-color: #292929;
    color: #EBEBEB;
    margin: 1px;



}

.after-today {

}

.Sun {
    background-color: red;
}






