#cal-app {
    display: flex;
    justify-content: center;

}


.main-page {
    color: aliceblue;

    height: 90.5vh;
    width: 90.2vw;
    max-width: 1732px;
    margin-top: 10px;
    font-family: "Inter";
    display: grid;
    grid-template-columns: 1fr ;


    
}

@media (min-width: 730px) {
    .main-page{
        grid-template-columns: 1fr 4fr;
    }
}



.calender-page {
    
    font-family: inherit;
    display: flex;
    
    
    padding: 20px;

    flex-direction: column;
    background-color: #B8DBD9;
    color: #292929;
    


    /* border:solid; */
    /* border-width: 5px;
    border-color: #4d43ff; */

  
}

.cal-page-paper {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.events-page {
    
    height: 90.5vh;

    background-color: #2f4550;
    

   
}

.calender-container {
    
    flex: 0 2 35%;
    padding: 20px;

    /* border:solid; */
    border-width: 5px;
    border-color: #ff4343;
}


.calender-header {
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items:start;
}

.header-icons{
    display: flex;
}

.calender-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    column-gap: 3px;
    row-gap: 0px;
    
    
}

.week-days {
    text-align: center;
    font-weight: 600;
    margin-bottom: 5px;
}

.surround {
    text-align: center !important;
    color: #0000005d !important;
}

.selected {
    text-align: center !important;
    color: #F9F8F8;
    background-color: #292929 !important;
    font-weight: 600;
}

.today {
    color: rgb(239 68 68);
    font-weight: 700;
}

.sel-today {
    text-align: center !important;
    color: #F9F8F8;
    background-color: rgb(239, 68, 68)!important;
    font-weight: 700;
}

.month-days{
    text-align: center;
    border-radius: 9999px;
    width: 40px;
    aspect-ratio : 1 / 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 7px;

}

.month-days:hover {
    background-color: #EBEBEB;
    
}

.event-day {
    border-radius: 9999px;
    background-color: #4d43ff;
    width:  4px;
    height: 4px;
    aspect-ratio: 1/1;
}

.wrapper-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.day-events-container {

    flex: 1;
    display: flex;
    flex-direction: column;


    /* border:solid; */
    border-width: 5px;
    border-color: #ff43c7;
}

.day-events{

    flex:1;
    display: flex;
    padding: 20px;

    /* border:solid; */
    border-width: 5px;
    border-color: #43f9ff;
}
.day-events .on-paper {

    



    /* border:solid; */
    border-width: 3px;
    border-color: #43ff72;
}

.day-events .header{
    padding: 20px;
}


.day-events .list{

    

    /* border:solid; */
    border-width: 5px;
    border-color: #e3ff43;
}

.day-events .list .event{
    display: flex;
    flex: none;
    margin-inline: 20px;
    border-radius: 20px;

    align-items: center;

}
.day-events .list .event:hover{
    background-color: #EBEBEB;

}

.day-events .list .event .img{
    width: 50px;
    border-radius: 9999px;
    padding: 10px;
}

.day-events .list .event .details {
    flex: auto;
    padding-inline: 10px;
    font-size: 0.9em;
}

.day-events .list .event .details .name{
    font-weight: 600;
    margin: 5px;
}

.day-events .list .event .details .time{
    color: #29292996;
    margin: 5px;
}


.events-page {

    display: flex;
    flex: none;

    /* border:solid;
    border-color: #ff4343; */
}






.all-days {

    /* flex: 1; */
    padding: 20px;
    display: flex;
    flex-direction: column;
    max-width: 582px;
    overflow: hidden;
    flex: 1;
    

    /* border:solid;
    border-color: #e3ff43; */
}

.all-events {

    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    overflow-y: hidden;

    /* border:solid;
    border-color: #6643ff; */
}

@media (min-width: 1300px) {
    .all-events{
        flex: 1;
    }
}

.on-days-paper {

    flex: 1;
    
    display: flex;
    flex-direction: column;
    
    

    /* border:solid;
    border-color: #43ff43; */
}

.on-events-paper {

    flex: 1;

    display: flex;
    flex-direction: column;

    /* border:solid;
    border-color: #ff43ef; */
}

.all-days-list {

    flex: 1;

    

    display: flex;
    flex-direction: column;

    /* border:solid;
    border-color: #ff43ef; */
}

.day{

    background-color: #292929;
    color: #F9F8F8;
    margin: 0px;
    display: flex;
    animation-duration: 1s;


    transition-duration: 300ms;
    transition-property: border-width;


    border: solid;
    border-radius: 10px;
    border-color: #F9F8F8;

    /* border:solid;
    border-color: #ff4343; */

}



.upto-today {
    



}

.after-today {
    background-color: #2929292c;
    color: #292929;
    margin-inline: 5px;
   
    margin-block: 2px;
    border: solid;
    
    border-radius: 10px;
    border-color: #2929292c;

}

.date{

    margin-block: 2px;
    font-size: xx-large;
    border-radius: 5px;
    padding-inline: 5px;
    flex: none;
    text-wrap: wrap;
    align-content: center;
    
    transition-duration: 0.1s;
    transition-property: font-size;
    
    
    /* border:solid;
    border-color: #78ff43; */

}



.Sun {
    background-color: #dbb8b8;
    color: #292929;
}

.event-link-list{

    display: flex;
    
    flex: 1;
    
    

    /* border:solid;
    border-color: #78ff43; */



}

.event-link {
    background-color:#FF0099  ;
    color: #292929;
    border-radius: 20px;
    margin: 5px;
    margin-inline: 2px;
    padding: 5px;
    text-align: center;
    width: 5em;
    overflow: hidden;

    
}

.day:hover{
    /* margin-block: 20px; */

        .date{
            font-size: xxx-large;
            /* color: #2bca6d; */
        
        }


}

@media (max-width: 1100px) {
    .events-page{
        /* flex-direction: column; */
        display: grid;
        grid-template-rows: 1fr 1fr;
        

    }
    .date{
        text-wrap: wrap;
    }
    .event-link-list {
        flex-direction: column;
    }

}


.event-grid {
    display: grid;
    grid-template-columns: 1fr 4.5fr 3fr;
}

.event-grid .item {

    border-block-end: solid;
    border-width: 1px;

    display: flex;
    align-items: center;
}

.all-events-header {
    display: grid;
    grid-template-columns: 1fr 4.5fr 3fr;

}



.event-grid .item.done {
    margin-inline-start: 0.5rem;
}

.event-grid .item.name{
    border-inline-start: solid;
    border-width: 1px;
    padding-inline: 10px;
}

.event-grid .item.datetime {
    margin-inline-end: 0.5rem;
    padding-inline-start: 10px;
}

.all-events-header .item {
    padding: 10px;
    
}

.all-day-select .date{

    font-size: xxx-large;
}







